
.footer__column-link {
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  transition: opacity 1s linear;
}

.footer__column-link:hover {
  opacity: 50%;
}

.footer__column-link:last-of-type {
  margin-bottom: 16px;
}
